body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: linear-gradient(to bottom, #393939,#202020 ,#121212 );
    font-weight: bold;
}
.topo{
    background-color: darkblue;
    color: #fff;
    display: block;
    border: 1px solid black;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 94%;
    text-align: center;
    z-index: 1;
}
nav{
    background-color: black;
    display: block;
    text-align: center;
    position: relative;
    top: 37px;
    margin-left: -8px;
    margin-right: -8px;

}
nav > div{
    display: inline-block;
    position: relative;
    top: -23px;
    font-size: 20px;
}
nav > div > a{
    padding-left: 50px;
    padding-right: 50px;
    text-decoration: none;
    color: #fff;
}
.logotipo-prefeitura{
    font-size: 3em;
    text-align: left;
    position: relative;
    left: -10%;
    top: -0.2em;
}
img{
    position: relative;
    top: 15px;
    width: 75px;
    height: 75px;
}
nav > div > a:hover{
    background-color: #393939;
    border-radius: 10px;
    color: #fff;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 8px;
    padding-bottom: 8px;
}
nav > div > a:link{
    color: #fff;
}
main{
    margin-top: 45px;
    margin-left: 10px;
    margin-right: 10px;
    color: #fff;
    font-size: large;
}
main > h1{
    color: #00b7ff;
    background-color: #202020;
    border-radius: 10px;
    padding: 6px 15px;
    display: inline-block;
    margin-left: 50px;
    text-align: left;
}
main > article{
    margin-left: 50px;
    margin-right: 50px;
    background-color: #202020;
    padding: 5px 10px; 
    border-radius: 10px;
}
footer{
    background-color:  #393939;
    color: #fff;
    margin-top: 50px;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: 50px;
    padding: 10% 0%;
    text-align: center;
}
footer > p{
    font-weight: bolder ;
}
footer > p > a{
    text-decoration: none;
    color: #fff;
    padding-right: 5px;
    padding-left: 5px;
}

footer > p > a:hover{
    background-color: #393939;
    box-shadow: 1px 1px 4px #121212;
    padding: 5px;
    border-radius: 10px;
    color: #fff;
}
footer > div.ajuda{
    text-align: center;
    position: relative;
    padding-top: -50px;
}
div.ajuda > a{
    color: #fff;
    text-decoration: none;
    font-size: larger;
}